{{ form_start(new_task_form, {'attr': {'id': 'new-task-form', 'class':'relative flex flex-1'}, 'action': '/tasks/create', 'method': 'POST'}) }}

{{ form_widget(new_task_form._token) }}
{{ form_errors(new_task_form) }}
<label for="search-field" class="sr-only">Task title</label>
<input name="{{ field_name(new_task_form.title) }}" value="{{ field_value(new_task_form.title) }}" class="block h-full w-full border-0 py-0 pl-8 pr-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" placeholder="Something to do" type="text" required autofocus/>

<button type="submit" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">
	Add
</button>
{{ form_end(new_task_form, {'render_rest': false}) }}
