<li id="task_{{ task.id }}" class="py-4">
	<div class="flex items-center">
		<form action="{{ path('app_task_complete', {'id': task.id, 'action': task.completed ? 'uncomplete' : 'complete'}) }}" method="POST">
			<button type="submit" class="peer h-5 w-5 cursor-pointer transition-all appearance-none rounded shadow hover:shadow-md border border-slate-300">
				{% if task.completed %}
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414L8.414 15l-4.707-4.707a1 1 0 011.414-1.414L8.414 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"/>
					</svg>
				{% endif %}
			</button>
		</form>

		<label class="mx-3 block text-gray-900 flex w-full">
			<a href="{{ path('app_task_edit', {'id': task.id}) }}" class="flex-1 block text-lg font-medium" data-turbo-frame="main" data-turbo-action="advance">
				{{ task.title }}
			</a>
			<span class="block h-8 text-sm font-light text-gray-500">{{ task.dueDate is not null ? task.dueDate|date("Y-m-d") : '' }}</span>
		</label>

		<form action="{{ path('app_task_delete', {'id': task.id}) }}" method="POST">
			<input
			type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
			{# button as trash svg #}
			<button class="text-gray-500 hover:text-red-500" type="submit">
				<label for="delete-task-{{ task.id }}" class="sr-only">Delete task {{ task.id }}</label>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
				</svg>
			</button>
		</form>
	</div>
</li>
