{% extends 'base.html.twig' %}

{% block title %}Task {{ task.title }}{% endblock %}

{% block body %}
	<turbo-frame id="main">
		{{ form_start(edit_task_form, {'attr': {'id': 'edit-task-form', 'class':'pt-8'}, 'action': path('app_task_edit', {'id': task.id}), 'method': 'POST'}) }}

			{{ form_widget(edit_task_form._token) }}
			{{ form_errors(edit_task_form) }}

			<div class="w-full flex flex-col space-y-8">
				<div class="w-full">
					<label for="title" class="sr-only">Task title</label>
					<textarea
							name="{{ field_name(edit_task_form.title) }}"
							class="block w-full min-h-4 text-gray-900 placeholder:text-gray-400 text-4xl outline-none whitespace-normal"
							placeholder="Something to do"
							required
							autofocus
					>{{ field_value(edit_task_form.title) }}</textarea>
				</div>

				<div class="flex space-x-4">
					<label for="dueDate" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Due date</label>
					<input
							name="{{ field_name(edit_task_form.due_date) }}"
							value="{{ field_value(edit_task_form.due_date) }}"
							class="align-middle rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-teal-600 sm:max-w-md"
							placeholder="Due date"
							type="date"
					/>
				</div>
				<div class="w-full">
					<label for="description" class="block text-sm font-medium leading-6 text-gray-400">Task description</label>
					<textarea name="{{ field_name(edit_task_form.description) }}"
						rows="4"
						class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
						placeholder="Description">{{ field_value(edit_task_form.description) }}</textarea>
				</div>
				<div class="flex space-2">
					<a href="{{ path('app_task_index') }}" class="py-1 px-2 hover:underline" data-turbo-frame="main" data-turbo-action="restore">back to list</a>

					<button type="submit" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">Update</button>
				</div>
			</div>
		{{ form_end(edit_task_form, {'render_rest': false}) }}
	</turbo-frame>

{% endblock %}
